.sidebar {
  background-color: #fb6d3a;
  color: white;
  height: 100%;
  font-size: 1.2rem;
  padding: 4.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sidebar__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  width: 100%;
}

.sidebar__list {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  width: 100%;
}

.logo {
  width: 9rem;
}

.li-element {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 2rem;
  margin-left: 3rem;
  padding: 0.6rem 1.2rem;
  width: 100%;
  cursor: pointer;
}

.li-element--active {
  color: #fb6d3a;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 2rem;
  margin-left: 3rem;
  padding: 0.6rem 1.2rem;
  width: 100%;
  cursor: pointer;
}

.sidebar__down {
  display: flex;
  align-items: center;
  gap: 1rem;
  align-self: start;
  border-radius: 2rem;
  margin-left: 3rem;
  padding: 0.5rem;
  cursor: pointer;
}
